/* ================= RESET ================= */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  scroll-behavior:smooth;
}


body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background:#05070f;
  color:white;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at 15% 20%, rgba(0, 255, 200, 0.449), transparent 40%),
  radial-gradient(circle at 80% 10%, #d49e17, transparent 40%),
  radial-gradient(circle at 60% 80%, rgba(0, 119, 255, 0.811), transparent 40%);

  filter: blur(120px);
  z-index:-1;

  body::after{
  content:"";
  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at 30% 30%, rgba(0, 255, 200, 0.391), transparent 40%),
  radial-gradient(circle at 70% 60%, rgba(149, 0, 255, 0.42), transparent 40%);

  filter:blur(100px);
  animation:moveBg 20s infinite alternate linear;
  z-index:-1;
}

@keyframes moveBg{
  0%{transform:translateX(-10%) translateY(-10%)}
  100%{transform:translateX(10%) translateY(10%)}
}
}

.container{
  width:1100px;
  max-width:90%;
  margin:auto;
}

.center{
  text-align:center;
}

span{
  color:#d4a017;
}

/* ================= GLOBAL SECTION ANIMATION ================= */
section{
  padding:100px 0;
  opacity:0;
  transform:translateY(60px);
  transition:all 0.9s ease;
}

section.show{
  opacity:1;
  transform:translateY(0);
}
/* LOADER FULLSCREEN */
#loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#0f0f0f;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

/* BOX */
.loader-box{
  text-align:center;
}

/* CENTER */
.main-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* SVG SIZE */
.loader{
  width:450px;
  max-width:90%;
}

/* TRACE BACKGROUND */
.trace-bg{
  stroke:#333;
  stroke-width:2;
  fill:none;
}

/* TRACE FLOW */
.trace-flow{
  stroke-width:2;
  fill:none;
  stroke-dasharray:40 400;
  stroke-dashoffset:438;
  filter:drop-shadow(0 0 6px currentColor);
  animation:flow 3s cubic-bezier(.5,0,.9,1) infinite;
}

/* COLORS */
.yellow{stroke:#ffea00;color:#ffea00;}
.blue{stroke:#00ccff;color:#00ccff;}
.green{stroke:#00ff15;color:#00ff15;}
.purple{stroke:#9900ff;color:#9900ff;}
.red{stroke:#ff3300;color:#ff3300;}

@keyframes flow{
  to{
    stroke-dashoffset:0;
  }
}

/* PROGRESS AREA */
.progress-area{
  margin-top:25px;
}

/* BAR */
.progress-bar{
  width:280px;
  height:8px;
  background:#222;
  border-radius:20px;
  overflow:hidden;
  margin:auto;
}

/* FILL */
.progress-fill{
  height:100%;
  width:0%;
  background:#d4a017;
  transition:width .2s;
}

/* NUMBER */
.progress-text{
  margin-top:10px;
  color:#d4a017;
  font-weight:bold;
  font-size:18px;
}

/* TEXT */
.loading-text{
  margin-top:6px;
  font-size:13px;
  color:#888;
}
/* ANIMASI HILANG LOADER */
.loader-hide{
  animation: loaderOut 1s forwards;
}

@keyframes loaderOut{

  0%{
    opacity:1;
    transform:scale(1);
  }

  100%{
    opacity:0;
    transform:scale(1.2);
    visibility:hidden;
  }

}
/* ================= NAVBAR ================= */
header{
  position:fixed;
  width:100%;
  top:0;
  z-index:999;

  background:transparent;
  transition:0.3s;
}

/* saat scroll */
header.scrolled{
  background:rgba(10, 10, 15, 0.51);
  backdrop-filter:blur(10px);
  box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

@keyframes navbarSlide{
  from{
    transform: translateY(-100%);
    opacity:0;
  }
  to{
    transform: translateY(0);
    opacity:1;
  }
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 5px; 
}

.logo .name {
  font-size: 22px;
  font-weight: 700;
  color: floralwhite;
}

.logo .name .dev {
  color: #d4a017;
  margin-left: 2px; 
}

.nav ul{
  display:flex;
  gap:35px;
  list-style:none;
}

.nav ul li{
  position:relative;
}

.nav ul li a{
  text-decoration:none;
  color:#ccc;
  font-weight:500;
  transition:0.3s;
}

.nav ul li a:hover{
  color:#d4a017;
}

.nav ul li a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-8px;
  width:0%;
  height:3px;
  background:#d4a017;
  transition:0.3s;
}

.nav ul li a:hover::after,
.nav ul li a.active::after{
  width:100%;
}

.hamburger{
  display:none;
  flex-direction:column;
  cursor:pointer;
  gap:5px;
}

.hamburger span{
  width:25px;
  height:3px;
  background:white;
  display:block;
  transition:0.3s;
}

/* ================= HERO ================= */
#home{
  padding-top:118px; 
}
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:40px;
}

.hero-left{
  width:50%;
}

.hero-animation{
  width:50%;
  display:flex;
  justify-content:center;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-20px);}
  100%{transform:translateY(0);}
}
.desc span{
  margin:20px 0;
  color:floralwhite;
  width:80%;
}
.welcome { 
  color:#d4a017;
  margin-bottom:10px;}

/* ================= BUTTON ================= */
.hero-buttons{
  margin-top:20px;
  display:flex;
  gap:15px;
}
.btn-primary{
  background:#d4a017;
  color:black;
  border:none;
  padding:12px 30px;
  border-radius:30px;
  cursor:pointer;
  font-weight:600;
  transition:0.3s;
}

.btn-primary:hover{
  transform:translateY(-4px);
  box-shadow:0 10px 30px rgba(212,160,23,0.6);
}

.btn-outline{
  border:2px solid #d4a017;
  padding:12px 30px;
  border-radius:30px;
  color:#d4a017;
  background:transparent;
  cursor:pointer;
  transition:0.3s;
}

.btn-outline:hover{
  background:#d4a017;
  color:black;
}


/* ================= SOCIAL ================= */
.social-icons{
  margin-top:25px;
  display:flex;
  gap:20px;
}

.social-icons a{
  width:45px;
  height:45px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#1a1a1a54;
  border-radius:50%;
  color:#888;
  font-size:18px;
  transition:0.3s;
  border:1px solid #333;
  text-decoration: none;
}

.social-icons a:hover{
  color:rgba(0, 0, 0, 0.111);
  transform:translateY(-5px);
}
.social-icons i{
  color:#888;    
  transition:0.3s;
}

.social-icons a:hover .fa-discord{color:#5865F2;}
.social-icons a:hover .fa-github{color:#fafdff;}
.social-icons a:hover .fa-instagram{color:#E1306C;}
.social-icons a:hover .fa-tiktok{color:#fafdff;}
/* ================= ABOUT ================= */
.about-flex{
  display:flex;
  gap:50px;
  align-items:center;
  flex-wrap:wrap;
}

.about-right{
  color:#f5f5f5;
}
#about .container + .container{
  margin-top:80px;
}

/* ================= TIMELINE ================= */
.timeline{
  margin-top:50px;
  border-left:3px solid #d4a017;
  padding-left:30px;
}

.timeline-item{
  margin-bottom:40px;
  position:relative;
}

.dot{
  width:15px;
  height:15px;
  background:#d4a017;
  border-radius:50%;
  position:absolute;
  left:-38px;
  top:10px;
}

.card{
  background:#1a1a1a;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 40px rgba(0,0,0,0.5);
  transition:0.3s;
}

.card:hover{
  box-shadow:0 0 25px rgba(212,160,23,0.5);
}

.date{
  color:#d4a017;
  font-size:14px;
  margin:5px 0 10px 0;
}

/* ================= SKILLS ================= */
.skill-group{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.skill-card{
  background:#1a1a1a;
  padding:20px;
  border-radius:20px;
  width:130px;
  text-align:center;
  transition:0.3s;
  border:1px solid #333;
}

.skill-card img.xampp-icon {
  width: 50px;
  height: 50px;
  object-fit: contain; 
  margin-bottom: 10px;
}

.skill-card:hover{
  transform:translateY(-10px);
  border-color:#d4a017;
  box-shadow:0 0 20px rgba(212,160,23,0.5);
}

.ms-icon{
  width:50px;
  margin-bottom:15px;
}
/* ================= PROJECT ================= */
#projects p {
  text-align: center;
  margin-top: 10px;
  color: #ffffff; 
  font-size: 16px;
}
.section-title{
  text-align: center;
}

.projects p {
  margin-top: 10px;
  font-size: 14px;
  color: #f5f5f5;
}

/* GRID */
.project-grid{
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap:14px;
}

/* DESKTOP */
@media (min-width:768px){
  .project-grid{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
  }

  .project-card.big{
    grid-column: span 2;
    grid-row: span 2;
  }

  .project-card.small{
    grid-column: span 1;
    grid-row: span 1;
    
  }

  .project-card.tall{
    grid-column: span 1;
    grid-row: span 2;
  }
}
/* KHUSUS CARD KECIL */
.project-card.small .project-content{
  padding:10px;
}

/* SEMUA CARD TEXT KECIL */
.project-content{
  padding:10px;
}

/* JUDUL */
.project-content h3{
  font-size:13px;
  margin-bottom:3px;
}

/* DESKRIPSI */
.project-content p{
  font-size:11px;
  line-height:1.3;
}

/* TECH */
.project-content .tech{
  margin:6px 0 10px;
}

.project-content .tech span{
  font-size:9px;
  padding:2px 6px;
}

/* BUTTON */
.project-content .slice{
  font-size:11px;
  padding:6px 12px;
  border-radius:10px;
}

/* CARD */
.project-card{
  position:relative;
  background:#1a1a1a;
  border-radius:20px;
  overflow:hidden;
  border:1px solid #333;
  transition:0.4s ease;
}

/* GAMBAR */
.project-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  z-index:1;
  transition:0.5s;
  filter: grayscale(100%) brightness(0.8);
}

/* HOVER */
.project-card:hover img{
  filter: grayscale(0%) brightness(1);
  transform:scale(1.05);
}

.project-card:hover{
  transform:scale(1.02);
  z-index:5;
}

/* OVERLAY */
.project-content{
  z-index:2;
  position:absolute;
  inset:0;
  padding:20px;

  display:flex;
  flex-direction:column;
  justify-content:flex-end;

  background:linear-gradient(
    to top,
    rgba(0, 0, 0, 0.556),
    rgba(0, 0, 0, 0.76),
    transparent
  );

  color:white;

  opacity:0;
  transform:translateY(30px);
  transition:0.4s ease;

  pointer-events:none;
}

.project-card:hover .project-content{
  opacity:1;
  transform:translateY(0);
  pointer-events:auto;
}

/* TEXT */
.project-content h3{
  margin-bottom:5px;
}

.project-content p{
  font-size:14px;
  opacity:0.85;
  pointer-events:none;
}

/* BUTTON */
.project-content .slice{
  margin-top:10px;
}

/* TECH */
.tech{
  margin:10px 0 15px;
}

.tech span{
  background:rgba(255, 255, 255, 0.15);
  color:#ffb700;
  font-size:12px;
  padding:4px 10px;
  border-radius:20px;
  margin:3px;
  display:inline-block;
}
/* TOMBOL SLICE */
.slice{
  --c1:#202020;
  --c2:#d4a017;
  --size-letter:12px;

  padding:6px 16px;
  font-size:var(--size-letter);

  background:transparent;
  border:2px solid var(--c2);
  border-radius:5px;
  cursor:pointer;

  overflow:hidden;
  position:relative;
  transition:300ms cubic-bezier(0.83,0,0.17,1);
}

.slice .text{
  font-weight:600;
  color:var(--c2);
  position:relative;
  z-index:1;
  transition:color 700ms cubic-bezier(0.83,0,0.17,1);
}

.slice::after{
  content:"";
  width:0;
  height:calc(300% + 1em);

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(30deg);

  background:var(--c2);
  transition:1000ms cubic-bezier(0.83,0,0.17,1);
}

.slice:hover .text{
  color:var(--c1);
}

.slice:hover::after{
  width:calc(120% + 1em);
}

.slice:active{
  transform:scale(0.96);
}
 
/* ================= CONTACT ================= */
#contact {
  padding: 100px 0;
}

.skill-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.skill-card {
  background: #1a1a1a;
  width: 130px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card a {
  text-decoration: none;
  color: inherit;
}

.skill-card i {
  font-size: 40px;
  color: #888; 
  margin-bottom: 10px;
  transition: color 0.3s ease;
  display: block;
}

.skill-card:hover {
  transform: translateY(-10px);
  border-color: #d4a017;
  box-shadow: 0 0 20px rgba(212,160,23,0.5);
}
     
.skill-card:hover .wa-icon { color: #25D366; }          
.skill-card:hover .ig-icon { color: #E1306C; }         
.skill-card:hover .discord-icon { color: #5865F2; }      
.skill-card:hover .telegram-icon { color: #0088CC; }    
.skill-card:hover .x-icon { color: #fafdff; }           

.skill-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #f5f5f5;
}
/* ================= MOBILE ================= */
@media (max-width:768px){

/* NAVBAR */
.hamburger{
  display:flex;
}

.nav{
  padding:15px 0;
}

.nav ul{
  position:absolute;
  top:80px;
  left:0;
  width:100%;
  background:#1a1a1aab;
  flex-direction:column;
  align-items:center;
  gap:25px;
  padding:30px 0;

  transform:translateY(-150%);
  transition:0.4s;
}

.nav ul.active{
  transform:translateY(0);
}


/* HERO */
.hero{
  flex-direction:column;
  text-align:center;
  gap:30px;
}

.hero-left h1{
  font-size:32px;
}

.desc{
  width:100%;
}

.hero-right img{
  width:220px;
  margin:auto;
}


/* ABOUT */
.about-flex{
  flex-direction:column;
  text-align:center;
}


/* SKILLS */
.skill-card{
  width:100px;
  padding:15px;
}

.skill-card i{
  font-size:35px;
}

.skill-card img{
  width:40px;
  height:40px;
}


/* PROJECT */
.project-grid{
  grid-template-columns:1fr;
}

.project-card img{
  height:180px;
}


/* CONTACT */
.skill-group{
  gap:15px;
}


/* FOOTER */
footer{
  text-align:center;
}

.footer-social{
  flex-wrap:wrap;
  justify-content:center;
}


  .project-card,
  .project-card.big{
    grid-column: span 12;
  }

  .project-card.big img{
    height:230px;
  }
}
/* ================= FOOTER ================= */
.footer{
  background:#0d0d0d36;
  padding:80px 0 30px;
  border-top:1px solid #222;
}

.footer-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:40px;
}

.footer h2{
  font-size:24px;
  margin-bottom:15px;
}

.footer h3{
  margin-bottom:15px;
  font-size:18px;
}

.footer p{
  color:#aaa;
  line-height:1.6;
}

.footer-links ul{
  list-style:none;
}

.footer-links ul li{
  margin-bottom:8px;
}

.footer-links a{
  text-decoration:none;
  color:#aaa;
  transition:0.3s;
}

.footer-links a:hover{
  color:#d4a017;
}

.social-icons{
  display:flex;
  gap:15px;
  margin-top:10px;
}

.social-icons a{
  width:40px;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  color:#888;
  transition:0.3s;
}

.social-icons a:hover{
  transform:translateY(-4px);
}

.footer-bottom{
  margin-top:50px;
  text-align:center;
  border-top:1px solid #222;
  padding-top:20px;
  color:#777;
}


